@{
    ViewData["Title"] = "Home Page";
}


<flash dismissable="true" />

<div class="text-center">
    <h1 class="display-4">LeratoShop</h1>
    <p>Quieres saber un poco más <a href="https://articulo.mercadolibre.com.co/MCO-880499895-audifonos-inalambricos-g06-bateria-larga-duracion-bt-53-_JM?searchVariation=174394363946#searchVariation=174394363946&position=17&search_layout=stack&type=item&tracking_id=c1455277-96fb-43d2-a5af-d42229f8e228">Ingresa y conoce nuestros productos</a>.</p>
</div>
