@model LeratoShop.Models.ProductDetailViewModel
@{
    ViewData["Title"] = "AddProductDetails";
}

<flash dismissable="true" />

<h1>Agregar detalle producto</h1>

<h4>Detalle producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProductDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type ="hidden" asp-for ="ProductId"/>
           <partial name = "_ProductDetailsCreateEdit"/>
            <div class="form-group mt-2">
                <input type="submit" value="Agregar" class="btn btn-primary" />
                 <a asp-action="ProductDetails" asp-route-id="@Model.ProductId" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


